body { background: #e7613f; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 37px; display: flex; }
.block-cluster-0 { color: #69ac60; font-size: 18px; margin-bottom: 5px; }
.block-cluster-1 { color: #f6306b; font-size: 20px; margin-bottom: 5px; }
.block-sms-2 { color: #601b84; font-size: 15px; margin-bottom: 5px; }
.block-token-3 { color: #2a11ae; font-size: 18px; margin-bottom: 5px; }
.block-metrics-4 { color: #c3c0b5; font-size: 15px; margin-bottom: 5px; }